<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <ul class="nav nav-tabs">
                <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="gallery">Gallery</a></li>
                <li class="nav-item"><a class="nav-link" href="feedback">Feedback</a></li>
                <li class="nav-item"><a class="nav-link" href="booking">Booking</a></li>
            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>