<nav class="nnavbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="color: rgb(76, 76, 211);"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav nav-tabs">
                <li class="nav-item" *ngFor="let nav of navbar; let i = index" 
                    [ngClass]="getActiveClass(i)"
                    (click)="setActiveIndex(i); navigate(nav.link)">
                    <span class="link" [ngClass]="getActiveClass(i)"
                    (click)="setActiveIndex(i); navigate(nav.link)">{{nav.value}}</span>
                </li>
            
            </ul>
            </div>
        </div>
    </nav>