<div class="feedback-container">
    <div class="col-sm-6 feedback-header">
    <div class="row feedback-header-text">
        <h3>Feedback form</h3>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label>Name: </label>
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label>Email Id: </label>
        </div>
        <div class="col-sm-6">
            <input type="email" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label>Phone Number: </label>
        </div>
        <div class="col-sm-6">
            <input type="number" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label>Feedback: </label>
        </div>
        <div class="col-sm-6">
            <textarea class="form-control" name="feedback" id="feedback" cols="30" rows="5"></textarea>
        </div>
    </div>
    <div class="row button">
        <div class="col">
            <button class="btn btn-outline-primary">Send Feedback</button>
        </div>
    </div>
</div>
</div>