.feedback-container{
    margin-left: 25%; 
    margin-top: 3%;
    color: rgba(73, 73, 226, 0.904);
}

.feedback-header{
    border: 1px solid rgb(52, 52, 241); 
    padding: 3%; 
    border-radius: 2%;
}

.feedback-header-text{
    text-align: center;
    padding: 1%;
}

.row{
    padding: 2%;
}

.button{
    text-align: center;
}