<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="col-sm-4"> <i class="material-icons">place</i></div>
            <div class="col-sm-10">
                <p style="display: inline;word-break: keep-all;">
                    1/55 Vengadeswara Nagar,<br>
                    Rakkiyapalayam,<br>
                    Tirupur
                </p>
            </div>
        </div>
        <div class="col-sm-2">
            <app-contact></app-contact>
        </div>
    </div>
</div>