<div class="booking-container">
    <div class="col-sm-6 booking-header">
    <div class="row">
        <div class="col-sm-4">
            <label>Name: </label>
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label>Email Id: </label>
        </div>
        <div class="col-sm-6">
            <input type="email" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label>Phone Number: </label>
        </div>
        <div class="col-sm-6">
            <input type="tel" class="form-control" id="phone" name="phone" placeholder="012-345-6789" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label>Aadhar Number: </label>
        </div>
        <div class="col-sm-6">
            <input type="tel" class="form-control" id="aadhar" name="aadhar" placeholder="XXXX-XXXX-XXXX" pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}" required>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label>Type: </label>
        </div>
        <div class="col-sm-6">
            <select id="cType" class="form-select" [value]= "select" disabled>
                <option *ngFor="let room of rooms; let i = index" value="{{ i }}" [selected] = "select == i">{{ room }}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label>Cost: </label>
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control" [value]="cost">
        </div>
    </div>
    <div class="row button">
        <div class="col">
            <button class="btn btn-outline-primary">Check Availablity</button>
        </div>
    </div>
</div>
</div>